*{
    font-size:20px;
    box-sizing:border-box;
    text-align: center;
}

h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}

div, form{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'helvetica', 'arial', 'sans-serif';
}

select>option{
    font-size: 20px;
    text-align: center;
}

#to-do, #timer{
    width: 100%;
}

#to-do-input{
    max-width:100%;
}

#to-do-textarea{
    text-align: justify;
    max-width: 100%;
    border-radius: 20px;
    padding: 15px;
}

#to-do{
    justify-content: flex-start;

}

/*custom checkbox from https://moderncss.dev/pure-css-custom-checkbox-style/ */

.to-do-checkbox{
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 28px;
    height: 28px;
    border: 4px solid #ff000075;
    border-radius: 6px;
    transform: translateY(4px);
    display: grid;
    place-content: center;
}

.to-do-checkbox::before{
    content:"";
    /*transform-origin: bottom left; */
    width: 15px;
    height: 15px;
    transform: scale(0);
    box-shadow: inset 1em 1em #00800075;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.to-do-checkbox:checked::before{
    /* content:"";
    /*transform-origin: bottom left;
    width: 15px;
    height: 15px; */
    transform: scale(1);
    /* box-shadow: inset 1em 1em green;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%); */
}

.to-do-checkbox:checked{
    border: 4px solid #00800075;
}

#to-do-list{
    padding-left: 10%;
    /* padding-right: 10%; */
    align-self: flex-start;
    align-items: flex-start;
    height: 300px;
    flex-wrap: wrap;
}

#to-do-list > span {
    padding:5px;
    display:grid;
    grid-template-columns: 30px auto;
    gap: 15px;
}

#to-do-list > span > label {
    font-size: 30px;
    color:red;
}

#to-do-list > span > input:checked + label {
    text-decoration: line-through;
    color:green;
}

#to-do-list > span > label {
    color:red;
}

#main{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
}

form{
    width:100%;
}

#clock-face{
    width: 250px;
    height: 250px;
    border:5px solid black;
    border-radius:100%;
    justify-content: center;
}

#countdown-timer{
    font-size:50px;
}

input[type=button]{
    width: 200px;
    height: 70px;
    border-radius:20px;
    display:block;
    margin: 10px;
    border-style: solid;
}

input[type=button]:enabled:hover{
    transition-duration: 0.4s;
    border-color:#4CAF50;
    background-color: #4CAF50;
    color: #fff;
    
}

#stop:enabled:hover{
    transition-duration: 0.4s;
    border-color: #ff0000;
    background-color: #ff0000;
    color:#fff;
}

#time-log{
    margin: 10px;
}

@media screen and (max-width: 1070px){

    #main{
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }

    #to-do-list{
        align-self: flex-start;
        align-items: flex-start;
        height: 300px;
        flex-wrap: wrap;
    }


}